

<div class="d-flex w-100 h-fit-content position-relative">
  <div class="cardes">
    <h1 class="text-center">Pets</h1>
    <p></p>
    <%= render 'shared/card', pets: @pets %>

  </div>
  <div class="container p-3" id="map-container">
    <h1 class="text-center text-white">SPOT A PET</h1>
    <div id="map" >

    <div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>


</div>


      <%# <%= link_to 'Show', pet %>
      <%#<%= link_to "destroy_pet", pet_path(pet), method: :delete, data: { confirm: "You sure?" } %>
