<% @bookings.each do |booking|%>
  <% pet = booking[0] %>
  <%= link_to pet_path(pet), class: "carde" do %>
    <%= cl_image_tag pet.photo.key%>
    <div class="card-info">
      <h3 class="card-name">My name is <span><%= pet.name%></span>!</h3>
      <h4 class="card-title"><%= pet.title %></h4>
      <div class="card-type">- I'm a <strong><%= pet.pet_type %></strong>, and I'm <strong><%= pet.age %></strong> years old</div>
      <div class="card-desc"><i>''<%= pet.description %>''</i></div>
      <div class="card-rate"><span class="rounded-pill"><%= pet.rate %><%= fa_icon "solid dollar"%></span>/day</div>
    </div>
    <%= link_to "my bookings", my_pet_bookings_path(pet) %>
    <% booking[1].each do |book| %>
    <h2><%= book.user_id %></h2>
    <h2><%= book.start_date %></h2>
    <h2><%= book.end_date %></h2>
    <h2><%= link_to "delete/booking"  %></h2>
    <% end %>

  <% end %>
<% end %>
