<div class="navbar navbar-expand-sm navbar-pet">
  <div class="container-fluid">
    <%= link_to root_path, class: "Logo d-flex align-items-center" do %>
      <%= fa_icon "solid dragon" %>
      <h2 class="align-self-end" >Pets2Go</h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= form_tag pets_path, method: :get do %>
      <div class="d-flex">
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a Pet"%>
        <%= submit_tag "Search", id: "bold",class: "btn btn-primary" %>
      </div>
<% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "Pets", pets_path, class: "nav-pet-link" %>
          </li>
          <li class="nav-item d-flex align-items-center active">
            <%= link_to "My Pets", my_pets_path, class: "nav-pet-link" %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "ADD A PET", new_pet_path, class: "nav-pet-link nav-pet-new" %>
          </li>
          <li class="nav-item d-flex align-items-center dropdown">
          <%# <% raise %>
            <% unless current_user.photo.key.nil? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end pet-drop" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-pet-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
