<div class="navbar navbar-expand-sm navbar-pet">
  <div class="container-fluid">
    <%= link_to "#", class: "Logo d-flex align-items-center" do %>
      <%= fa_icon "solid dragon" %>
      <h2 class="align-self-end" >Pets2Go</h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item d-flex align-items-center active">
            <%= link_to "Home", root_path, class: "nav-pet-link" %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "Pets", pets_path, class: "nav-pet-link" %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "List Pet", new_pet_path, class: "nav-pet-link nav-pet-new" %>
          </li>
          <li class="nav-item d-flex align-items-center dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end pet-drop" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-pet-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
